<%- include('../partials/header') %>
<table id="flights-table">
    <thead>
        <th>Airline</th>
        <th>Flight #</th>
        <th>Departs</th>
        <th></th>
    </thead>
    <tbody>
        <% flights.forEach(function(f) { %>
        <tr>
            <% if(new Date(f.departs).setHours(0,0,0,0) < new Date().setHours(0,0,0,0)) { %>
                <td style="color:red"><%= f.airline %></td>
                <td style="color:red"><%= f.flightNo %></td>
                <td style="color:red"><%= f.departs.toLocaleString('en-US', {timeZoneName: 'short' }) %></td>
            <% } else { %>
                <td><%= f.airline %></td>
                <td><%= f.flightNo %></td>
                <td><%= f.departs.toLocaleString('en-US', {timeZoneName: 'short' }) %></td>
            <% } %>
            <td><a href="/flights/<%= f._id %>">Details</a></td>
        </tr>
        <% }); %>
    </tbody>
</table>
<%- include('../partials/footer') %>